@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Styles.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div>
                    <a asp-page="/Index">
                    </a>
                </div>
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <div class="headerButtons">
                        <img class="miniLogo" src="~/src/socialNetworkLogo.png" alt="Social Network Logo" />
                        SocialNetwork
                    </div>
                </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @if (SignInManager.IsSignedIn(User))
                    {

                        <form class="navbar-collapse collapse d-sm-inline-flex justify-content-between" method="get">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="headerButtons">
                                        <button style="border:none; background-color:rgb(0,0,0,0);" asp-page="Index" type="submit" id="basic-addon1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21.172 24l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z" /></svg>
                                        </button>
                                    </div>
                                </div>
                                <input class="form-control mr-sm-2" type="search" placeholder="Wyszukaj użytkownika..." aria-label="Search" name="searchQuery">
                            </div>
                        </form>
                    }
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <partial name="_LoginPartial" />
                    </div>

                </div>
</nav>
    </header>
    <div class="welcome">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SocialNetwork by Przemysław Klejno and Cezary Hodun, all right reserved.
            <a asp-area="" asp-page="/Privacy">Informacje prawne</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
