@page
@model SocialNetwork.Areas.Identity.Pages.Admin.Roles.EditModel
@{
    @ViewData["Title"] = "Edytuj rolę";
}
<head>
    <title>Edytuj rolę</title>
</head>
<div class="form-group" style="width:400px;">
    <form method="post">
        <label asp-for="@Model.roleName"></label>
        <input asp-for="@Model.roleName" class="form-control" value="@Model.currRole.Name" />

        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn btn-primary">Zatwierdź</button>
            <a asp-page="Index" class="btn btn btn-primary">Cofnij</a>
        </div>
    </form>
</div>