@page
@model SocialNetwork.Areas.Identity.Pages.Admin.Roles.IndexModel
@{
    @ViewData["Title"] = "Role użytkowników";
}
<head>
    <title>Role użytkowników</title>
</head>
<h1>Dodawanie roli</h1>
<a asp-page="Add">
    <div title="Dodaj role" class="headerButtonsWhite">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 21h-5v-2h5v2zm3.424-5.718l4.402 4.399-5.826 1.319 1.424-5.718zm15.576-6.748l-9.689 9.804-4.536-4.536 9.689-9.802 4.536 4.534z" /></svg>
    </div>
</a>
<section class="welcomePageAdmin">
    <div class="m-2">

        <table style="color:white; font-size:20px;" class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nazwa roli</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model.Roles)
                {
                    <tr>
                        <td>@role.Name</td>
                        <td class="RowFlex">
                            <a asp-page="Edit" asp-route-stringID="@role.Id">
                                <div title="Edytuj Role" class="headerButtonsWhite">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 21h-5v-2h5v2zm3.424-5.718l4.402 4.399-5.826 1.319 1.424-5.718zm15.576-6.748l-9.689 9.804-4.536-4.536 9.689-9.802 4.536 4.534z" /></svg>
                                </div>
                            </a>

                            <a asp-page="Delete" asp-route-stringID="@role.Id">
                                <div title="Usun role" class="headerButtonsWhite">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 16.094l-4.157-4.104 4.1-4.141-1.849-1.849-4.105 4.159-4.156-4.102-1.833 1.834 4.161 4.12-4.104 4.157 1.834 1.832 4.118-4.159 4.143 4.102 1.848-1.849z" /></svg>
                                </div>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</section>