@page
@model SocialNetwork.Pages.Messages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Message.messageID" />
            <div class="form-group">
                <label asp-for="Message.messageContent" class="control-label"></label>
                <textarea asp-for="Message.messageContent" class="form-control"></textarea>
                <span asp-validation-for="Message.messageContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.date" class="control-label"></label>
                <input asp-for="Message.date" class="form-control" />
                <span asp-validation-for="Message.date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.userID" class="control-label"></label>
                <input asp-for="Message.userID" class="form-control" />
                <span asp-validation-for="Message.userID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.recevingUserID" class="control-label"></label>
                <input asp-for="Message.recevingUserID" class="form-control" />
                <span asp-validation-for="Message.recevingUserID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Message.isRead" /> @Html.DisplayNameFor(model => model.Message.isRead)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
