@page
@model SocialNetwork.Pages.AddPostModel
@{
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<head>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jQuery.js"></script>
    <script src="~/js/UploadImage.js"></script>
</head>
<body>
    <div class="container">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="post.name" class="control-label col-sm2"></label>
                <div class="col-sm-6">
                    <input asp-for="post.name" class="form-control">
                    <span asp-validation-for="post.name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="post.stringContent" class="control-label col-sm2"></label>
                <div class="col-sm-6">
                    <textarea asp-for="post.stringContent" class="form-control"
                              placeholder="Tutaj wpisz zawartość swojego postu" cols="30" rows="5"></textarea>
                    <span asp-validation-for="post.stringContent" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="file" name="file" />
                </div>
                

            </div>

            <br />


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn btn-primary" type="submit">Napisz post!</button>
                </div>
            </div>

        </form>
        

    </div>
</body>