@page
@model SocialNetwork.Pages.AddPostModel
@{
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<head>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jQuery.js"></script>
    <script src="~/js/UploadImage.js"></script>
</head>
<body>
    <div class="container">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label asp-for="post.name" class="control-label col-sm2"></label>
                <div class="col-sm-6">
                    <input asp-for="post.name" class="form-control">
                    <span asp-validation-for="post.name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="post.stringContent" class="control-label col-sm2"></label>
                <div class="col-sm-6">
                    <textarea asp-for="post.stringContent" class="form-control"
                              placeholder="Tutaj wpisz zawartość swojego postu" cols="30" rows="5"></textarea>
                    <span asp-validation-for="post.stringContent" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <div id="fileBasket" style="width:400px;height:400px;line-height:400px;border: 1px solid #000000;text-align:center;" class="filebasket">
                        Wrzuć tutaj zdjęcie swojego postu
                    </div>
                    <img id="progress" src="~/src/loading.gif" alt="loading" style="display:none;" />

                </div>

            </div>

            <br />

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn btn-primary">Napisz post!</button>
                </div>
            </div>

        </form>
        
    </div>
</body>