
@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManage
@model IndexModel
@{
    ViewData["Title"] = "Social Network";
    if(Model.newMessages==true)
    ViewData["NewMessages"] = "msg";
    
}



@if (SignInManager.IsSignedIn(User))
{
    <div class="welcomePage">
            <section style="margin-right:15px;" class="col-sm-7">
                <h1 class="display-4">Welcome</h1>
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            </section>
            <section class="col-sm-4">
                <div class="PictureName">
                    <div>
                        <img src="~/src/duaLipa.png" alt="Twoje zdjęcie profilowe" class="ProfilePicture" />
                    </div>
                    <div class="ProfileName">
                        Witaj @Model.user.nickname
                    </div>
                </div>
                
            </section>
    </div>
}
else
{
       <section class="welcomePage">  
               <div >
                   <img class="welcomeImage" src="~/src/smile.jpg" alt="smilling man">
               </div>
               <div class="LogoAndText">
                    <div >
                        <img class="logo" src="~/src/socialNetworkLogo.png" alt="Social Network Logo" />
                    </div>
                    <div class="welcomeText">
                        <h1>
                       Witaj w Social Network,
                       jedyne takie miejsce do kontaktu
                       ze znajomymi.
                        </h1>
                   </div>
               </div>
           
        </section>
    
}