
@page
@using Microsoft.AspNetCore.Identity
@using SocialNetwork.Models;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManage
@model IndexModel
@{
    ViewData["Title"] = "Social Network";
    if(Model.newMessages==true)
    ViewData["NewMessages"] = "msg";
    
}



@if (SignInManager.IsSignedIn(User))
{
    <div class="welcomePage">
        <section >
            @if (Model.posts != null)
            {
                foreach (Post post in Model.posts)
                {
            <div class="Post">
                <img src="@post.base64Photo" alt="Zdjęcie powiązane z postem: @post.name"/>
                <div>
                    <div class="PostTileAndButtons">
                        <h1>@post.name</h1>
                        <div>
                            <svg class="svgButtons" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181" /></svg>
                            <svg class="svgButtons" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 1c-6.338 0-12 4.226-12 10.007 0 2.05.739 4.063 2.047 5.625l-1.993 6.368 6.946-3c1.705.439 3.334.641 4.864.641 7.174 0 12.136-4.439 12.136-9.634 0-5.812-5.701-10.007-12-10.007zm0 1c6.065 0 11 4.041 11 9.007 0 4.922-4.787 8.634-11.136 8.634-1.881 0-3.401-.299-4.946-.695l-5.258 2.271 1.505-4.808c-1.308-1.564-2.165-3.128-2.165-5.402 0-4.966 4.935-9.007 11-9.007zm-5 7.5c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5zm5 0c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5zm5 0c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5z" /></svg>
                            <svg class="svgButtons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.351 6.493c-.08-.801.55-1.493 1.351-1.493s1.431.692 1.351 1.493l-.801 8.01c-.029.282-.266.497-.55.497s-.521-.215-.55-.498l-.801-8.009zm1.351 12.757c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" /></svg>
                        </div>
                       
                    </div>
                    <p class="PostContent">@post.stringContent</p>
                </div>
                
            </div>
                }
            }
        </section>
            
    </div>
}
else
{
       <section class="welcomePage">  
               <div >
                   <img class="welcomeImage" src="~/src/smile.jpg" alt="smilling man">
               </div>
               <div class="LogoAndText">
                    <div >
                        <img class="logo" src="~/src/socialNetworkLogo.png" alt="Social Network Logo" />
                    </div>
                    <div class="welcomeText">
                        <h1>
                       Witaj w Social Network,
                       jedyne takie miejsce do kontaktu
                       ze znajomymi.
                        </h1>
                   </div>
               </div>
           
        </section>
    
}