@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
page
@model SocialNetwork.Pages.ProfileSiteModel
@{
}

<head>

</head>

<body>
    <h2>Witaj! @User.Identity.Name </h2>
</body>