@page
@model SocialNetwork.Pages.UserPageModel
@{
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<head>

</head>

<body>
    <h2>Witaj! @User.Identity.Name </h2>
</body>