@page
@model SocialNetwork.Areas.Identity.Pages.Accounts.ChangePasswordModel
@{
}
<head>
    <title>Zmiana hasła</title>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jQuery.js"></script>
    <script src="~/js/UploadImage.js"></script>
</head>
<div class="form-group" style="width:400px;">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="@Model.newPassword"></label>
        <input asp-for="@Model.newPassword" class="form-control" />
        <span asp-validation-for="@Model.newPassword" class="text-danger" style="font-size:small"></span>

        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn btn-primary">Zatwierdź</button>
            <a asp-page="Index" class="btn btn btn-primary">Cofnij</a>
        </div>
    </form>
</div>