@page
@model SocialNetwork.Areas.Identity.Pages.Accounts.UserPageViewModel
@{
}
<div class="row">

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Input.FirstName"></label>
            <b>@Model.Input.FirstName</b>
        </div>
        <div class="form-group">
            <label asp-for="Input.LastName"></label>
            <b>@Model.Input.LastName</b>
        </div>
        <div class="form-group">
            <label asp-for="Input.Username"></label>
            <b>@Model.Input.Username</b>
        </div>
        <div class="form-group">
            <label asp-for="Input.PhoneNumber"></label>
            <b>@Model.Input.PhoneNumber</b>
        </div>

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Input.ProfilePicture" style="width: 100%;"></label>
            @if (Model.Input.ProfilePicture != null)
            {
                <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))">
            }
            else
            {
                <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="">
            }
        </div>
    </div>

</div>